html {
    width: 100%;
    max-height: 200%;
    font: 16px/16px Times Roman, sans-serif;
}
body {
  overflow-x: hidden;
}
#wrapper{
    min-height: 200%;
    min-width: 300px;
    max-width: 1900px;
    margin: 0 auto;
}
ol, ul {
    list-style: none;
}
* {
margin: 0;
padding: 0;
outline: none;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
a, a, input,
button, .bum,
.panel, input[type="button"],
input[type="submit"], input[type="search"]:hover {
    text-decoration: none;
    cursor: pointer;
    color: #fff;
}
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.clearfix {
    clear: both;
}
.left {
    float: left;
}
.right {
    float: right;
    display: inline-block;
}
.text-right {
    float: right;
}
.text-left {
    max-width: 200px;
    text-align: left;
}

#wrapper {
    width: 100%;
}
#center {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}

#header {
    width: 100%;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    display: inline-block;
    width: 85px;
    height: 30px;
}
.logo img {
    width: 100%;
    max-width: 100%;
    height: auto;
}
.navigetion {
    max-width: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navigetion li {
    display: inline-block;
    border-radius: 4px;
    padding: 5px 10px;
    transform: translateX(2px);
}

.navigetion li:hover {
    transform: translateX(3px) scale(1.1);
    background: #e4e4e4;
}
.navigetion li a {
    color: #3b3b3b;
}
#billbord {
    max-width: 100%;
    height: 572px;
    background: url('../images/bilbord.png') no-repeat;
    background-size: cover;
    border-bottom: solid 4px #f34949;
    text-align: center;
    overflow: auto;
}
.text{
    margin: 25% 0 2.626262%;
}
.text span {
    width: 100%;
    height: 120px;
    color: #fff;
    font: 70px/50px 'Times Roman', sans-serif;
}
.mini-text{
    width: 100%;
}
.mini-line {
    max-width: 41px;
    min-width: 20px;
    height: 1px;
    background: #fff;
}
.coment {
    color: #fff;
    min-width: 50px;
    max-width: 350px;
    margin: 0 25px;
}
.mini-line, .coment {
    display: inline-block;
    vertical-align: middle;
}

.images {
    background: url('../images/menu.png');
    width: 155px;
    height: 75px;
    margin: -4px auto 0;
    text-align: center;
    padding: 25px;
}
.images span {
    color: #fff;
    font-size: 20px;
    vertical-align: middle;
    padding: 7px;
    transform: scale(1) translateX(0px);
}
#content {
    display: flex;
    width: 100%;
    margin-top: 80px;
    margin-bottom: 30px;
}
.left-col {
    width:50%;
    display: inline-block;
    padding-right: 15px;
}
.column {
    width: 100%;
    margin-bottom: 60px;
}
.column__description {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.column p {
    color: #b7b7b7;
    font-size: 12px;
}
.right-col {
    width:50%;
    display: inline-block;
    padding-left: 15px;
}
.button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 240px;
    height: 35px;
    border: 1px solid #d7d5d5;
    padding: 10px;
    margin: 0 auto 100px;
    border-radius: 4px;
    color: #e4e4e4;
}

.name {
    display: inline-block;
    align-self: center;
}
.vertical-line {
    width: 2px;
    height: 12px;
    background: #222;
    margin-left: 13px;
}
.shevron{
    display: inline-block;
    width: 10px;
    height:10px;
    background: url('../images/shevron.png') no-repeat;
}
.images span:hover {
    transition: scale(1.2) translateX(10px);
}
.button:hover {
    background: #e4e4e4;
    color: #3b3b3b;
    cursor: pointer;
}

#sidebar {
    width: 100%;
    margin-bottom: 100px;
}
.featured{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 65px;
}
.paragraf{
    font-size: 20px;
    font-weight: 800;
    color: #3b3b3b;
    float: left;
    flex-grow: 1;
}
.line{
    display: inline-block;
    min-width: 65px;
    max-width: 50%;
    height: 1px;
    margin-left: 15px;
    margin-right: 15px;
    background: #777;
    vertical-align: middle;
    flex-grow: 2;
}
.dote {
    float: right;
    width: 70px;
    text-align: right;
}
.block {
    display: inline-block;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background: #dedede;
    margin-right: 6px;
}
.block:nth-of-type(2){
    background: #777;
}
.block, .box:last-of-type {
    margin-right: 0;
}
.sb-box {
    width: 100%;
    overflow: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box{
    width: 20.909090%;
    height: auto;
    margin-right: 5.454545%;
    padding: 0;
}
.col-left,
.col-main,
.col-center,
.col-right {
    width: 100%;
    height: 200px;
}

.col-text{
    width: 100%;
    margin-top: 30px;
}
.col-text p {
    font-size: 14px;
    color: #555;
}
.col-text p,
.col-text span{
    display: inline-block;
}
.many{
    float: right;
}
.star{
    width: 80px;
    height: 13px;
    background: url('../images/star.png') repeat-x;
}
#gallery{
    width: 100%;
    margin-bottom: 100px;
}
.fones{

    height: auto;
}
.fones img {
    width: 100%;
    max-width: 100%;
}

#footer{
    width: 100%;
    background: #3b3b3b;
    padding: 100px 0;
    color: #fff;
    overflow: auto;
}
.ny_address,
.address,
.links,
.copyright {
    width: 18.181818%;
    float: left;
    font-size: 16px;
    line-height: 30px;
}
.links li a:hover,
.copyright a:hover {
    color: red;
}
.ny_address,
.address,
.links{
    margin-right: 5.454545%;
}
.logo-resto{
    background: url('../images/Resto.png') no-repeat;
    width: 81px;
    height: 30px;
    clear: both;
    margin-bottom: 30px;
}

@media only screen and (max-width: 1024px){
    #wrapper{width: 100%;}
    #center{
        width: 90%;
        margin: 0 auto;
    }
    .navigetion{
        justify-content: space-around;
    }
    #billbord{
        text-align: center;
        overflow: auto;
    }
    .text{
        height: 120px;
        margin-bottom: 15px;
    }
    .text span{
        width: 100%;
        height: 120px;
    }
    .mini-text{width: 100%;}
    .mini-line{
        max-width: 41px;
        height: 1px;
        background: #fff;
    }
    .coment{
        color: fff;
        min-width: 50px;
        max-width: 350px;
        margin: 0 25px;
    }
    .mini-line,
    .coment{
        display: inline-block;
        vertical-align: middle;
    }

}

@media only screen and (max-width: 991px) {
    .sb-box {
        justify-content: center;
        flex-direction: column;
    }

    .box {
        width: 50%;
        margin: 15px auto;
        height: auto;
    }
    .box:last-of-type {
        margin: 0 auto;
    }

    .col-images {
        width: 100%;
    }

    .col-images img {
        width: 100%;
        height: auto;
    }
}

@media only screen and (max-width: 768px){
    #wrapper{
        width: 100%;
    }
    #content {
        flex-direction: column;
    }
    #center{
        width: 95%;
        margin: 0 auto;
    }
    #billbord{
        width: 100%;
        padding-top: 25.839160%;
        overflow: hidden;
    }
    .navigetion li {
        font-size: 13px;
    }
    .text{margin: 15px 0;}
    .text span{
        width: 100%;
        height: 120px;
    }
    .mini-text{width: 100%;}
    .mini-line{max-width: 3.727272%;}
    .coment{
        color: fff;
        max-width: 350px;
        margin: 0;
    }
    .mini-line,
    .coment{
        display: inline-block;
        vertical-align: middle;
    }
    .button {
        margin-bottom: 50px;
    }
    #sidebar{
        width: 100%;
        margin-bottom: 80px;
    }
    .sb-box{
        width: 100%;
        overflow: hidden;
    }
    .box{
        float: left;
        width: 32%;
        margin-bottom: 5.454545%;
    }
    .box:nth-child(2n){float: right;}
    .star{
        width: 80px;
        height: 13px;
        background: url(../images/star.png) repeat-x;
    }
    #gallery{
        width: 100%;
        margin-bottom: 80px;
    }
    .featured {
        margin-bottom: 30px;
    }
    .fones{width: 100%}
    #footer{
        width: 100%;
        padding: 50px 0;
        color: #fff;
        overflow: auto;
    }
    .ny_address,
    .address,
    .links{
        margin-right: 5.454545%;
    }

    .left-col, .right-col {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }

    .ny_address,
    .address,
    .links,
    .copyright {
        width: 100%;
        font-size: 12px;
        line-height: 20px;
    }
}

@media only screen and (max-width: 480px) {
    #center{
        width: 95%;
        margin: 0 auto;
    }
    #header{
        padding: 10px 0;
        height: 10%;
    }
    .logo{
        float: none;
        width: 85px;
        display: inline-block;
    }
    .navigetion {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
    .navigetion li{

        padding: 0 10px 0 0;
        transform: translateX(1px) scale(1.1)
    }
    #billbord,
    #featured,
    #gallery,
    #footer,
    .fones {
        width: 100%;
        overflow: hidden;
    }
    #billbord{padding: 38.811181% 0;}
    .text span{color: #fff;
        font-size: 30px;
    }
    .featured .line {
        display: none;
    }
    .mini-text{font-size: 14px;}
    .coment{margin: 0;}
    .images{margin-left: 30%;}
    .left-col{
        width:100%;
        float: none;
    }
    .right-col{
        width: 100%;
        margin-left: 0;
    }
    .column{
        width: 100%;
    }
    .button{
        margin: 0 auto 50px;
    }
    .name{float: left;}
    .vertical-line{
        width: 4px;
        height: 12px;
        background: #222;
        margin-left: 13px;
    }
    .shevron{
        float: right;
        width: 10px;
        height:7px;
        background: url('../images/shevron.png') no-repeat;
        margin-top: 5px;
    }
    .sb-box{width: 100%;}
    .box{
        float: none;
        width: 75%;
        height: 266px;
        margin: 0 auto;
    }
    .box:last-of-type{margin:auto;}
    #gallery{
        width: 100%;
        margin-bottom: 50px;
        overflow: auto;
    }
    .fones{
        width: 100%;
        height: auto;
    }

    #footer{
        width: 100%;
        padding: 20px 0;
        color: #fff;
    }
    .ny_address,
    .address,
    .links,
    .copyright {
        width: 100%;
        font-size: 12px;
        line-height: 20px;
    }
    .ny_address,
    .address,
    .links{
        margin-right: 0%;
    }
    .links{clear: both;}
    .ny_address,
    .address{
        margin-bottom: 20px;
    }
    .logo-resto{
        background: url('../images/Resto.png') no-repeat;
        width: 81px;
        height: 30px;
        clear: both;
        margin-top: 20px;
    }

    #footer .links {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #footer .links li {
        display: inline-block;
    }
}
